.plc{
    min-height: 100px;
    background: #c2e7ff;
    border: 1px solid #9cd5ff;
    margin: 3px;
    padding: 10px;
}

.low-padding{
    padding-left: 5px;
    padding-right: 5px;
}

.ibox {
    clear: both;
    margin: 15px 0;
    padding: 0;
}
.ibox:after,
.ibox:before {
    display: table;
}
.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fafafa;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    height: 48px;
}
.ibox-content {
    background-color: #fafafa;
    color: inherit;
    padding: 15px 20px 20px 20px;

}
.no-top-margin{
    margin-top: 0;
}
p{
    font-weight: 300;
}